//colors
$turqouise: #25DFE6; 
$border-grey: #b7b7b7;
$font-grey: #707070;
$font-grey2: #494949;
$background-grey: #f5f5f5;

$text-color-dark: #373737;

$turqouise-dark1: #248386;
$turqouise-dark2: #157C82;

//Color contrast AAA with white text
$turqouise-dark3: #0D4C50;
$turqouise-dark4: #006165;
