//Link colors contrast level AA with dark text
$turqouise: #25DFE6; 

//Link colors contrast level AA with white text
$turqouise-dark1: #248386;
$turqouise-dark2: #157C82;

//Link Color contrast level AAA with white text
$turqouise-dark3: #0D4C50;
$turqouise-dark4: #006165;
$turqouise-dark5: #036358;

//Navigation background
$background-grey: #f5f5f5;

//Text colors contrast level AA
$font-grey: #707070;
$font-grey2: #494949;

//Text color contrast level AAA
$text-color-dark: #373737;

//Border color
$border-grey: #b7b7b7;