@use 'colors' as *;
//sizes
$max-width: 1200px;

$font-size-basis: 20px;
$font-size-small: 16px;

//borders
$border-basis: 1px solid $border-grey;
$border-turqouise: 1px solid $turqouise;
$border-darker1: 1px solid $turqouise-dark1;
$border-darker2: 1px solid $turqouise-dark2;
$border-darker3: 1px solid $turqouise-dark3;
$border-darker4: 1px solid $turqouise-dark4;

//breakpoints
$breakpoint-small: 600px;
$breakpoint-mini: 300px;