//sizes
$max-width: 1200px;

$font-size-basis: 20px;
$font-size-small: 16px;

//colors
$turqouise: #25DFE6; 
$border-grey: #b7b7b7;
$font-grey: #707070;
$background-grey: #f5f5f5;

$turqouise-dark1: #248386;
$turqouise-dark2: #157C82;
$turqouise-dark3: #0D4C50;
$turqouise-dark4: #006165;

$text-color-dark: #373737;


//values
$border-basis: 1px solid $border-grey;
$border-turqouise: 1px solid $turqouise;
$border-darker1: 1px solid $turqouise-dark1;
$border-darker2: 1px solid $turqouise-dark2;



//breakpoints
$breakpoint-small: 600px;
$breakpoint-mini: 300px;